.dashboard-cards {
    display: flex;
    justify-content: space-between;
}
.dashboard-card {
    background: purple;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 23%;
}
.dashboard-card:hover {
    background: #f5f5f5;
    color: black;
}